<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/jpg" href="/static/images/icon.jpg" />

      <title>Polls调查</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    <!-- Bootstrap core CSS -->
      <link href="{% static 'rest_framework/css/bootstrap-tweaks.css' %}" type="text/css" rel="stylesheet">

    <!-- Custom styles for this template -->
      <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

    <style type="text/css">
		body {
			margin-top: 0;
			padding-top: 0;
		}
    </style>

  </head>

  <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <a class="nav navbar-nav navbar-right" href="{% url 'admin:index' %}">administration</a>
          <a href="{% url 'index' %}">返回主页</a>
          <h1><a href="{% url "polls:index" %}">欢迎来到Polls调查!</a></h1>
      </div>
    </div>

    <div class="container">
		<div class="row">
			<div class="col-md-12">
				{% block content %}{% endblock %}
			</div>
		</div>

		<hr>

      <footer>
        <p>&copy; 网络科技 2017</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>


