{% extends "base.html" %}

{% block title %}
    {% if object %}
        编辑内容 "{{ object.title }}"
    {% else %}
        添加内容
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            编辑内容 "{{ object.title }}"
        {% else %}
            添加内容
        {% endif %}
    </h1>
    <div class="module">
        <h2>Course info</h2>

        <!--enctype的用法-->
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="保存内容"></p>
        </form>
    </div>
{% endblock %}
